*{
	margin:0;
	padding:0;
}
body{
	font-family: PingFang SC
}
a{
	text-decoration: none
}
ul{
	list-style: none
}

header{
	padding:10px 0px;
	background: rgb(211,90,150);
	text-align: center
}
header img{
	width:15%;
}
main{
	
	display: flex;
	background: url(2.jpeg)no-repeat;
	background-size: cover
}
nav{
	width:100%;
	padding:200px 0px;
	background: url(1.jpeg)no-repeat;
	background-size: cover;
	text-align: center;
	color:#fff;
}
.jianbian{ background: linear-gradient(to bottom,#5d11e5, #fff, #009688);
  	-webkit-background-clip: text;
  	color: transparent;
  	font-size:60px;
}
.left{
	flex: 0 0 50%;
	margin:0 20px;
	padding:50px 10px;
	
}
.right{
	flex: 0 0 38%;
	margin:0 1%;
	padding:50px 50px;
}
.text{
	padding:30px 0px;
	font-size:60px;
	color: white; 
	text-align: center;
	text-shadow: 1px 1px 0px #5d11e5,2px 2px 0px #5d11e5,-3px -3px 0px #009688,-3px -3px 0px #009688;
}
.te{
	text-align: center;
	font-size:35px;
	color: white;    
	text-shadow: 1px 1px 0px #5d11e5,2px 2px 0px #5d11e5,-3px -3px 0px #009688,-3px -3px 0px #009688;
}
.le{
	

	margin:20px 25%;
	width:50%;
}
.le img{
	width:40%;
	margin:0 10px;
}
.img{
	width:100%;
}
.imgs{
	width:51%;
	margin:0 25%;
}
footer{
	text-align: center;
	background: rgb(211,90,150);
	display: flex;
}
footer div{
	flex:0 0 30%;
	margin:20px 0%;
	
	color:#fff;
	padding:0 10%;
	font-size:20px;
	text-align: center
}
footer div img{
	
	width:15%;
}
@media screen and (max-width:1120px){
	header{
		padding:0;
	}
	header img{
	width:40%;
	}
	.left,.right,footer div{
		width:100%;
		margin:0;
		padding:0;
	}
	main{
		flex-direction: column;
	}
	footer div{
		flex:0 0 48%;
		margin:20px 1%;
		line-height:40px;
	}
	footer div img{
		float:none;
		width:20%;
		display: inline-block;
		
	}
	nav{
		padding:50px 0px;
	}
	.le,.imgs{
		width:70%;
		margin:10px 15%;
	}
}